apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: kickoff
  labels:
    app: gateway
    tier: frontend
spec:
  type: LoadBalancer
  selector:
    app: gateway
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None
