apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: kickoff
  labels:
    app: postgres
spec:
  type: ClusterIP  # Servicio interno con IP virtual asignada
  selector:
    app: postgres
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    protocol: TCP
