apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: kickoff
  labels:
    app: user
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: user
  ports:
  - name: grpc
    port: 9081
    targetPort: 9081
    protocol: TCP
